.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}


.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

h1, h2, h3, p {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

